.wrapper {
  display: grid;
  grid-template-columns: 1fr auto;
  place-items: stretch;
  gap: 15px;
  margin: 0 0 var(--ifm-spacing-vertical);
}

/* CodeBlock Container */
.wrapper > div:nth-child(1) {
  margin: 0;
  display: flex;
  overflow-x: auto;
  min-width: 300px;
}

/* CodeBlock Content */
.wrapper > div:nth-child(1) > div:nth-child(1) {
  flex: 1;
  height: 100%;
  display: flex;
  align-items: center;
}

.wrapper > div:nth-child(1) > div:nth-child(1) > pre {
  width: 100%;
}

.wrapper > img {
  background: #fffdf2;
  border-radius: var(--ifm-pre-border-radius);
}

.wrapper.vertical {
  grid-template-rows: auto auto;
  grid-template-columns: unset;
}

.wrapper.vertical > :not(img) {
  min-width: 100%;
}

.wrapper.vertical > img {
  max-height: 200px;
}

@media screen and (max-width: 700px) {
  .wrapper {
    grid-template-rows: auto auto;
    grid-template-columns: unset;
  }
  .wrapper > img {
    max-height: 200px;
  }
}
