.type > a {
  text-decoration: none;
  color: black !important;
}

.type > a:hover {
  text-decoration: none;
}

.type > a[href=""] {
  pointer-events: none;
}

h1 .type,
h2 .type,
h3 .type {
  font-size: inherit !important;
}

h1 .type > a,
h2 .type > a,
h3 .type > a {
  pointer-events: none;
}

.type {
  border-radius: 4px;
  font-size: 14px;
  padding: 1px 4px;
  font-family:
    Cascadia Mono,
    Courier New,
    Courier,
    monospace;
  white-space: nowrap;
  display: inline-block;
  font-weight: 400;
}

.type-con {
  background: #a6ebe6;
}

.type-bool {
  background: #ffedc1;
}

.type-str {
  background: #d1ffe2;
}

.type-keyword {
  background: #ffcbc4;
}

.type-num {
  background: #e7d9ff;
}

.type-obj {
  background: #eff0f3;
}

.type-fn {
  background: #f9dfff;
}

.type-color {
  background: #7cd5ff;
  background: linear-gradient(
    83deg,
    #7cd5ff,
    #a6fbca 33%,
    #fff37c 66%,
    #ffa49d
  );
}
